################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Lesson_06_Functions/.vs/Lesson_06_Functions
/Lesson_07_Files/.vs/Lesson_07_Files/FileContentIndex
/Lesson8_Objetos/.vs/Lesson8_Objetos/FileContentIndex
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/FileContentIndex
/Lesson_10_Referencia/.vs/Lesson_10_Referencia
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.dll
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.exe
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.pdb
/Lesson_10_Referencia/obj/Debug/net8.0/apphost.exe
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.AssemblyInfoInputs.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.csproj.CoreCompileInputs.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.dll
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.pdb
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.sourcelink.json
/Lesson_10_Referencia/obj/Debug/net8.0/refint/Lesson_10_Referencia.dll
/Lesson_10_Referencia/obj/Debug/net8.0/ref/Lesson_10_Referencia.dll
/Lesson8_Objetos/.vs/Lesson8_Objetos/DesignTimeBuild/.dtbcache.v2
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.AssemblyInfo.cs
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.AssemblyInfoInputs.cache
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.assets.cache
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.GeneratedMSBuildEditorConfig.editorconfig
/Lesson8_Objetos/obj/Lesson8_Objetos.csproj.nuget.dgspec.json
/Lesson8_Objetos/obj/Lesson8_Objetos.csproj.nuget.g.props
/Lesson8_Objetos/obj/project.assets.json
/Lesson8_Objetos/obj/project.nuget.cache
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/.futdcache.v2
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/.suo
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/DocumentLayout.backup.json
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/DocumentLayout.json
/Lesson8_Objetos/.vs/ProjectEvaluation/lesson8_objetos.metadata.v9.bin
/Lesson8_Objetos/.vs/ProjectEvaluation/lesson8_objetos.projects.v9.bin
/Lesson8_Objetos/.vs/ProjectEvaluation/lesson8_objetos.strings.v9.bin
/Lesson_06_Functions/obj/Debug/net8.0/Lesson_06_Functions.AssemblyInfo.cs
/Lesson_06_Functions/obj/Debug/net8.0/Lesson_06_Functions.AssemblyInfoInputs.cache
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/v17/.suo
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/v17/DocumentLayout.backup.json
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/v17/DocumentLayout.json
/Lesson_06_Functions/.vs/ProjectEvaluation/lesson_06_functions.metadata.v9.bin
/Lesson_06_Functions/.vs/ProjectEvaluation/lesson_06_functions.projects.v9.bin
/Lesson_06_Functions/.vs/ProjectEvaluation/lesson_06_functions.strings.v9.bin
/Lesson_10_Referencia/.vs/ProjectEvaluation/lesson_10_referencia.metadata.v9.bin
/Lesson_10_Referencia/.vs/ProjectEvaluation/lesson_10_referencia.projects.v9.bin
/Lesson_10_Referencia/.vs/ProjectEvaluation/lesson_10_referencia.strings.v9.bin
