################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Lesson_06_Functions/.vs/Lesson_06_Functions
/Lesson_07_Files/.vs/Lesson_07_Files/FileContentIndex
/Lesson8_Objetos/.vs/Lesson8_Objetos/FileContentIndex
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/FileContentIndex
/Lesson_10_Referencia/.vs/Lesson_10_Referencia
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.dll
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.exe
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.pdb
/Lesson_10_Referencia/obj/Debug/net8.0/apphost.exe
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.AssemblyInfoInputs.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.csproj.CoreCompileInputs.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.dll
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.pdb
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.sourcelink.json
/Lesson_10_Referencia/obj/Debug/net8.0/refint/Lesson_10_Referencia.dll
/Lesson_10_Referencia/obj/Debug/net8.0/ref/Lesson_10_Referencia.dll
