################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Lesson_06_Functions/.vs/Lesson_06_Functions
/Lesson_07_Files/.vs/Lesson_07_Files/FileContentIndex
/Lesson8_Objetos/.vs/Lesson8_Objetos/FileContentIndex
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/FileContentIndex
/Lesson_10_Referencia/.vs/Lesson_10_Referencia
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.dll
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.exe
/Lesson_10_Referencia/bin/Debug/net8.0/Lesson_10_Referencia.pdb
/Lesson_10_Referencia/obj/Debug/net8.0/apphost.exe
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.AssemblyInfoInputs.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.csproj.CoreCompileInputs.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.dll
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.pdb
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.sourcelink.json
/Lesson_10_Referencia/obj/Debug/net8.0/refint/Lesson_10_Referencia.dll
/Lesson_10_Referencia/obj/Debug/net8.0/ref/Lesson_10_Referencia.dll
/Lesson8_Objetos/.vs/Lesson8_Objetos/DesignTimeBuild/.dtbcache.v2
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.AssemblyInfo.cs
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.AssemblyInfoInputs.cache
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.assets.cache
/Lesson8_Objetos/obj/Debug/net8.0/Lesson8_Objetos.GeneratedMSBuildEditorConfig.editorconfig
/Lesson8_Objetos/obj/Lesson8_Objetos.csproj.nuget.dgspec.json
/Lesson8_Objetos/obj/Lesson8_Objetos.csproj.nuget.g.props
/Lesson8_Objetos/obj/project.assets.json
/Lesson8_Objetos/obj/project.nuget.cache
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/.futdcache.v2
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/.suo
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/DocumentLayout.backup.json
/Lesson8_Objetos/.vs/Lesson8_Objetos/v17/DocumentLayout.json
/Lesson8_Objetos/.vs/ProjectEvaluation/lesson8_objetos.metadata.v9.bin
/Lesson8_Objetos/.vs/ProjectEvaluation/lesson8_objetos.projects.v9.bin
/Lesson8_Objetos/.vs/ProjectEvaluation/lesson8_objetos.strings.v9.bin
/Lesson_06_Functions/obj/Debug/net8.0/Lesson_06_Functions.AssemblyInfo.cs
/Lesson_06_Functions/obj/Debug/net8.0/Lesson_06_Functions.AssemblyInfoInputs.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.AssemblyInfo.cs
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.assets.cache
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.csproj.FileListAbsolute.txt
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.GeneratedMSBuildEditorConfig.editorconfig
/Lesson_10_Referencia/obj/Debug/net8.0/Lesson_10_Referencia.genruntimeconfig.cache
/Lesson_10_Referencia/obj/Lesson_10_Referencia.csproj.nuget.dgspec.json
/Lesson_10_Referencia/obj/Lesson_10_Referencia.csproj.nuget.g.props
/Lesson_10_Referencia/obj/project.assets.json
/Lesson_10_Referencia/obj/project.nuget.cache
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/DesignTimeBuild/.dtbcache.v2
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/v17/.suo
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/v17/DocumentLayout.backup.json
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/v17/DocumentLayout.json
/Lesson_Estructura_Datos/.vs/ProjectEvaluation/lesson_estructura_datos.metadata.v9.bin
/Lesson_Estructura_Datos/.vs/ProjectEvaluation/lesson_estructura_datos.projects.v9.bin
/Lesson_Estructura_Datos/.vs/ProjectEvaluation/lesson_estructura_datos.strings.v9.bin
/Lesson_Estructura_Datos/obj/Debug/net8.0/Lesson_Estructura_Datos.AssemblyInfo.cs
/Lesson_Estructura_Datos/obj/Debug/net8.0/Lesson_Estructura_Datos.AssemblyInfoInputs.cache
/Lesson_Estructura_Datos/obj/Debug/net8.0/Lesson_Estructura_Datos.assets.cache
/Lesson_Estructura_Datos/obj/Debug/net8.0/Lesson_Estructura_Datos.GeneratedMSBuildEditorConfig.editorconfig
/Lesson_10_Referencia/.vs/ProjectEvaluation/lesson_10_referencia.metadata.v9.bin
/Lesson_10_Referencia/.vs/ProjectEvaluation/lesson_10_referencia.projects.v9.bin
/Lesson_10_Referencia/.vs/ProjectEvaluation/lesson_10_referencia.strings.v9.bin
/Lesson_06_Functions/.vs/ProjectEvaluation/lesson_06_functions.metadata.v9.bin
/Lesson_06_Functions/.vs/ProjectEvaluation/lesson_06_functions.projects.v9.bin
/Lesson_06_Functions/.vs/ProjectEvaluation/lesson_06_functions.strings.v9.bin
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/CopilotIndices/17.14.734.62261/CodeChunks.db
/Lesson_Estructura_Datos/obj/Lesson_Estructura_Datos.csproj.nuget.dgspec.json
/Lesson_Estructura_Datos/obj/Lesson_Estructura_Datos.csproj.nuget.g.props
/Lesson_Estructura_Datos/obj/project.assets.json
/Lesson_Estructura_Datos/obj/project.nuget.cache
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/CopilotIndices/17.14.734.62261/CodeChunks.db-shm
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/CopilotIndices/17.14.734.62261/CodeChunks.db-wal
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/CopilotIndices/17.14.734.62261/SemanticSymbols.db
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/CopilotIndices/17.14.734.62261/SemanticSymbols.db-shm
/Lesson_Estructura_Datos/.vs/Lesson_Estructura_Datos/CopilotIndices/17.14.734.62261/SemanticSymbols.db-wal
/apiRest/.vs/apiRest/FileContentIndex
/apiRest/.vs/ProjectEvaluation
/apiRest/.vs/apiRest/v17
/apiRest/.vs/apiRest/config
/apiRest/.vs/apiRest/DesignTimeBuild
/apiRest/bin/Debug/net8.0
/apiRest/obj
/apiRest/.vs/apiRest/CopilotIndices/17.14.734.62261
/apiRest_EF/.vs/apiRest/FileContentIndex
/apiRest_EF/.vs/apiRest_EF/FileContentIndex
/apiRest_EF/.vs/ProjectEvaluation
/apiRest_EF/.vs/apiRest_EF/v17
