<div>
    @if (isMenu) 
    {
        <div>
            @for (dish of dishes; track dish.id)
            {
                <dish-menu-item (removeDish)="remove($event)"
                                [dish]="dish"></dish-menu-item>
            }
        </div>
    }
    
    @else 
    {
        <span>Nuevo Plato</span>
        <br>
        <label for="dishname">Nombre</label>
        <input id="dishName" type="text">
        <br>
        <label for="dishPrice">Precio</label>
            <input id="dishPrice" type="number">
            <br>
            <button (click)="createDish()">Crear</button>

        }
        
    <dish-dm 

    (dishesUpdated)="dishesUpdated($event)"
    [newDish] = "newDish" 
    [dishId]="dishId">
    </dish-dm>
    </div>

